:root {
    /* Primary Colors */
    --light-cyan: #CEE3E9;
    --neon-green: #52FFA8;
    /* Neutral Colors */
    --grayish-blue: #4E5D73;
    --dark-grayish-blue: #323A49;
    --dark-blue: #1F2632;
}

* {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
}

body {
    align-items: center;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 98vh;
}

main {
    background-color: var(--dark-grayish-blue);
    border-radius: 15px;
    height: 230px;
    padding: 40px;
    top: 50%;
    width: 450px;
}

section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section h5 {
    margin: 0;
}

section h5, h5 > span {
    color: var(--neon-green);
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
}

section p {
    color: var(--light-cyan);
    font-size: 28px;
    text-align: center;
}

button {
    background-color: var(--neon-green);
    background-image: url(/images/icon-dice.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    bottom: -35px;
    height: 60px;
    outline: none;
    position: relative;
    width: 60px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 35px rgba(82, 255, 168, 0.7);
}

footer {
    bottom: 0;
    color: var(--light-cyan);
    position: absolute;
    text-align: center;
    width: 100%;
    height: 2.5rem;
}

footer a {
    color: var(--neon-green);
}