:root {
    /* Primary Colors */
    --light-cyan: #CEE3E9;
    --neon-green: #52FFA8;
    /* Neutral Colors */
    --grayish-blue: #4E5D73;
    --dark-grayish-blue: #323A49;
    --dark-blue: #1F2632;
}

* {
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark-blue);
    overflow-y: visible;
}

main {
    background-color: var(--dark-grayish-blue);
    border-radius: 15px;
    left: 50%;
    height: auto;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
}

section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}

section h5 {
    width: 130px;
}

section h5, h5 span {
    color: var(--neon-green);
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
}

section p {
    color: var(--light-cyan);
    display: grid;
    font-size: 28px;
    height: 190px;
    place-items: center;
    text-align: center;
    width: 100%;
}

section img {
    margin-bottom: 30px;
}

button {
    background-color: var(--neon-green);
    background-image: url(../images/icon-dice.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    bottom: -30px;
    height: 60px;
    outline: none;
    position: absolute;
    width: 60px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 35px rgba(82, 255, 168, 0.7);
}

footer {
    bottom: 0;
    color: var(--light-cyan);
    padding: 20px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

footer a {
    color: var(--neon-green);
}